DATABASE_URL="postgresql://user:password@127.0.0.1:5432/rent-car-app?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="efb4de2b-c913-48d5-a26e-1af901ae4d2a"

# UploadThing หรือ S3 (ใส่ค่าจำลองไว้ก่อน)
UPLOADTHING_SECRET="fake-secret-for-dev"
UPLOADTHING_URL="http://localhost:3000"

# Stripe (ใส่ค่าจำลองไว้ก่อน)
STRIPE_SECRET_KEY="sk_test_fake"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_fake"

# Additional
VERCEL_ENV=development
NODE_ENV=development
AUTH_TRUST_HOST=true

# Fix Production
PROD_NODE_ENV=production
PROD_NEXTAUTH_URL="https://rent-car-app.vercel.app"
PROD_NEXTAUTH_SECRET="prod-secret-for-nextauth"
PROD_DATABASE_URL="postgresql://postgres:DKZzPU0iDJDLwA6W@db.tnahgaqxdmvropummlsa.supabase.co:5432/postgres?sslmode=require"